<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div style="min-width: 50em !important;">
  <mat-card>
    <mat-card-header style="float: right;">
      <button mat-icon-button (click)="CloseDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-title>
      Opret ny Bus
    </mat-card-title>
    <br>
    <mat-card-content>
      <form [formGroup]="newBusGroups" (onsubmit)="EditBus(titel.value,busDriver.value,Buscap.value)">
        <div>
          <mat-form-field class="form-element">
            <mat-label>{{busToEdit.getName()}}</mat-label>
            <input matInput disabled (value)="busToEdit.getName()">
          </mat-form-field>
          <mat-form-field style="margin-left:5px;">
            <mat-label>{{busToEdit.getRouteId()}}</mat-label>
            <input matInput disabled (value)="busToEdit.getRouteid()">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-element">
            <mat-label>{{busToEdit.getName()}}</mat-label>
            <!-- <input #titel matInput [formControl]="newBusFormcontroll" value="jykglk"> -->
            <input #titel matInput [formControl]="newBusFormcontroll" >
            <!-- <mat-error *ngIf="newBusGroups.hasError">{{getErrorMessage()}}</mat-error> -->
          </mat-form-field>
          <mat-form-field style="margin-left:5px;">
            <input #busDriver matInput [formControl]="newBusFormcontroll" placeholder="Make">
            <mat-error *ngIf="newBusGroups.hasError">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input #Buscap matInput type="number" [formControl]="newBusFormcontroll" placeholder="Pax total cap">
            <mat-error *ngIf="newBusGroups.hasError">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <mat-card-actions style="display: flex; margin: auto; justify-content: center;">
          <mat-label style="display: flex; margin: auto; justify-content: center;"></mat-label>
          <button #tooltip="matTooltip" matTooltip="Tilføj nyt bus" matTooltipHideDelay="100" mat-ripple mat-mini-fab
            type="submit" [disabled]="newBusFormcontroll.invalid"
            (click)="EditBus(titel.value,busDriver.value,Buscap.value)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>
