<mat-card style="border-radius: 0px 0px 5px 5px;">
  <div>
    <div style="margin-right: 5rem;">
      <button mat-mini-fab class="maticonBounten" (click)='CreateBus()'>
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-form-field style="margin-left: 1rem; margin-bottom: 1rem;">
      <mat-label style="font-size: large">
        <mat-icon>search</mat-icon>
      </mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter/Søg" #input />
    </mat-form-field>

    <table #mattable mat-table [dataSource]="matdatasource" multiTemplateDataRows class="mat-elevation-z8" matSort>

      <!-- Id Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.getId() }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Navn</th>
        <td mat-cell *matCellDef="let element">{{ element.getName() }}</td>
      </ng-container>

      <!-- Make Column -->
      <ng-container matColumnDef="make">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>make</th>
        <td mat-cell *matCellDef="let element">{{( element.getMake() )}}
          <a style="z-index: 10;">
            <button mat-ripple (click)="GetBusInfomation(element)"
              style="background-color:transparent; border-color: transparent; cursor: pointer; z-index: 1;">
              <mat-icon>done</mat-icon>
            </button>
          </a>
        </td>
      </ng-container>

      <!-- driver Column -->
      <ng-container matColumnDef="driver">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>driver</th>
        <td mat-cell *matCellDef="let element">
          {{ element.getDriver() }}
        </td>
      </ng-container>
      <!-- totaltbuscap colum -->
      <ng-container matColumnDef="totaltbuscap">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>totaltbuscap</th>
        <td mat-cell *matCellDef="let element">
          {{ element.getTotalBusCapacity() }}
        </td>
      </ng-container>

      <!-- currentpaxcont colum -->
      <ng-container matColumnDef="currentpaxcont">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>totaltbuscap</th>
        <td mat-cell *matCellDef="let element">
          {{ element.getTotalBusCapacity() }}
        </td>
      </ng-container>
      <!-- routeid Column -->
      <ng-container matColumnDef="routeid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>routeid</th>
        <td mat-cell *matCellDef="let element">{{ element.getRouteId() }}<a *ngIf="element.getRouteId().length <= 0"
            style="z-index: 10;">

            <button mat-ripple (click)="DeleteBus(element)"
              style="background-color:transparent; border-color: transparent; cursor: pointer; z-index: 1;">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="(element === Buss) ? 'expanded' : 'collapsed'">
            <div>
              <table *ngIf="false">
                <thead>
                  <tr>
                    <br>
                    <th mat-header-cell style=" text-align: left;">Navn/Titel</th>
                    <br>
                    <th style=" text-align: left;">Rediger</th>
                    <br>
                    <th style=" text-align: right;">Fremdrift</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of dataSourceBuss">
                  <tr>
                    <!-- <td>{{item.getId()}}</td> -->
                    <br>
                    <td>{{item.getId()}}</td>
                    <td id="testid">
                    </td>

                    <td>
                    </td>
                  </tr>
                </tbody>

              </table>
              <br>
            </div>
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="busen === row"
         (click)="busen = busen  === row ? null : row"
        style="overflow: hidden;">
      </tr>
      <tr style="overflow: hidden;" mat-row *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
  </div>
</mat-card>
